<header>
    <div class="navbar">
        <div class="logo">
            <a> <img src="/img/logolegacygames.png"  id="logoimg">
                <img src="/img/textlegacygames.png" id="logotext">
            </a>
        </div>
        <div class="searchbar">
            <input type="search" required placeholder="Write your game here..">
            <a><img src="../img/lupa.png" id="lupapng"></a>
        </div>
    </div>
    <div class="container-btn">
        <div class="btn-group">
            <button>Wii</button>
            <button>NEST</button>
            <button>GB</button>
            <button>DS</button>
            <button>X360</button>
            <button>PS3</button>
            <button>PS4</button>
            <button>3DS</button>
            <button>N64</button>
            <button>SNES</button>
            <button>PSP</button>
            <button>PC</button>
            <button>2600</button>
            <button>XB</button>
        </div>
</header>