<div class="container-btn">
    <ul class="game-filters">
        <li><a type="button" class="btn btn-outline-dark" href="#">Wii</a></li>
        <li><a type="button" class="btn btn-outline-dark" href="#">NEST</a></li>
        <li><a type="button" class="btn btn-outline-dark" href="#">GB</a></li>
        <li><a type="button" class="btn btn-outline-dark" href="#">DS</a></li>
        <li><a type="button" class="btn btn-outline-dark" href="#">X360</a></li>
        <li><a type="button" class="btn btn-outline-dark" href="#">PS3</a></li>
        <li><a type="button" class="btn btn-outline-dark" href="#">PS4</a></li>
        <li><a type="button" class="btn btn-outline-dark" href="#">3DS</a></li>
        <li><a type="button" class="btn btn-outline-dark" href="#">N64</a></li>
        <li><a type="button" class="btn btn-outline-dark" href="#">SNES</a></li>
        <li><a type="button" class="btn btn-outline-dark" href="#">PSP</a></li>
        <li><a type="button" class="btn btn-outline-dark" href="#">PC</a></li>
        <li><a type="button" class="btn btn-outline-dark" href="#">2600</a></li>
        <li><a type="button" class="btn btn-outline-dark" href="#">XB</a></li>
    </ul>
</div>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://coverfiles.alphacoders.com/377/37710.jpg" class="d-block w-100" height="500px" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://fondosmil.com/fondo/26541.jpg" class="d-block w-100" height="500px" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://www.wallpapertip.com/wmimgs/91-916936_hd-wallpaper-new-super-mario-bros-u.jpg" class="d-block w-100" height="400px" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://cdn.wallpapersafari.com/97/53/e5DqVO.jpg" class="d-block w-100" height="500px" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://fondosmil.com/fondo/26568.png" class="d-block w-100" height="500px" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://images8.alphacoders.com/518/thumb-1920-518841.jpg" class="d-block w-100" height="500px" alt="...">
        </div>
    </div>
</div>