
body {
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #FA4325;
    height: 110px;
}
.logo {
    margin: 15px;
    margin-left: 60px;
    cursor: pointer;

}
#logoimg {
    height: 88px;
    width: 70px;
    padding-bottom: 20px;
}
#logotext {
    height: 50px;
    width: 190px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.searchbar {
    display: flex;
    margin: 30px;
    margin-right: 90px;

}
.searchbar input{
    height: 25px;
    width: 250px;
    border-radius: 8px;
    border: none;
}
.searchbar img{
    height: 18px;
    width: 20px;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 4px;
    transition: 2s;
}
.searchbar img:hover{
    transform: scale(1.6);
}

/*MAIN-CONTAINER*/
main {
    background-color: black;
}
/*SLIDER*/
.d-blockw-100,.carousel-item {
    height: 350px;
    width: 70%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
}

/*GRID*/
.grid-post {
margin-top: 100px;
margin-bottom: 100px;
}
.grid-post .card-deck-wrapper .card {
    border: 0;
    margin-bottom: 100px;
}
.grid-post .card-body {
    padding-left: 0;
    padding-right: 0;
}
.grid-post .card-img-top {
    max-height: 350px;
    border-radius: 0;
}
/*.container {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    background-color: whitesmoke;
}*/
.container-btn {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 25px;


}
.btn-group button {
    background-color: #FA4325;
    border-radius: 20px;
    border: 1px solid #e33b11;
    color: white;
    padding: 8px 46px;
    cursor: pointer;
    margin-left:15px;
    margin-top:20px;
}

.btn-group button:not(:last-child) {
    border-right: none;
}

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}
.btn-group button:hover {
    background-color: #e33b11;
}

.card-body{
    display:flex;
    flex-wrap: wrap;
    padding:20px;
}

.card{
    border: 1px solid black;
    width: 250px;
    border-radius:20px;
    padding: 10px;
    margin:10px;
    align-items: center;

}
