<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LegacyGames-SA</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>

<header>
    <div class="navbar">
        <div class="logo">
            <a> <img src="../templates/img/logolegacygames.png" id="logoimg">
                <img src="../templates/img/textlegacygames.png" id="logotext">
            </a>
        </div>
        <div class="searchbar">
            <input type="search" required placeholder="Write your game here..">
            <a><img src="../templates/img/lupa.png" id="lupapng"></a>
        </div>
    </div>
</header>

<main>
    <!--BUTTON-->
    <div class="container-btn">
        <div class="btn-group">
            <button>btn1</button>
            <button>btn2</button>
            <button>btn3</button>
            <button>btn4</button>
            <button>btn5</button>
        </div>
    </div>
    <!-- SLIDER TEST BOOTSRAP-->
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://coverfiles.alphacoders.com/377/37710.jpg" class="d-blockw-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://coverfiles.alphacoders.com/377/37710.jpg" class="d-blockw-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://coverfiles.alphacoders.com/377/37710.jpg" class="d-blockw-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://coverfiles.alphacoders.com/377/37710.jpg" class="d-blockw-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://coverfiles.alphacoders.com/377/37710.jpg" class="d-blockw-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://coverfiles.alphacoders.com/377/37710.jpg" class="d-blockw-100" alt="...">
            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!--TEST-->
    <div class="grid-post">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card-deck-wrapper" style="width: 18rem;">
                        <img src="../templates/img/Mario.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="post-category">For children</h5>
                            <h3 class="card-title">Super Mario</h3>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Buy</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card-deck-wrapper" style="width: 18rem;">
                        <img src="../templates/img/Mario.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="post-category">For children</h5>
                            <h3 class="card-title">Super Mario</h3>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Buy</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card-deck-wrapper" style="width: 18rem;">
                        <img src="../templates/img/Mario.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="post-category">For children</h5>
                            <h3 class="card-title">Super Mario</h3>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Buy</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card-deck-wrapper" style="width: 18rem;">
                        <img src="../templates/img/Mario.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="post-category">For children</h5>
                            <h3 class="card-title">Super Mario</h3>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Buy</a>
                        </div>
                    </div>
                </div>
            </div>










        </div>
    </div>
</main>

<footer>
    <footer>
        <div class="fixed-bottom">
            © Bcn Fem Tech 2021 (TEST)
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    </footer>
</footer>

</body>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>

    <body>
            <header th:replace="fragments/header"></header>
            <main th:replace="fragments/main"></main>
            <footer th:replace="fragments/footer"></footer>
    </body>
</html>



