<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head">

    </head>
        <body>
            <header th:replace="fragments/header"></header>
                <section class="container">

                        <div class="card-body">
                            <div class="card" th:each="game: ${games}" style="width: 18rem;">
                                <img th:src="@{${game.photoImagePath}}" height="150" />
                                <div class="card-title" th:text="${game.title}"></div>
                                <div class="card-text" th:text="${game.price}"> </div>
                                <div class="card-text" th:text="${game.category}"> </div>
                                <div class="card-text" th:text="${game.year}"> </div>
                                <div class="btn-group button">
                                <td>
                                    <a class="btn btn-success btn-sm" th:href="'/games/edit/'+${game.id}">Edit</a>
                                </td>

                                <td>
                                    <a class="btn btn-danger btn-sm" th:href="'/games/delete/'+${game.id}">Delete</a>
                                </td>
                                </div>
                            </div>
                        </div>
                </section>
            <footer th:replace="fragments/footer"></footer>
        </body>
</html>