<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head"></head>

<body>
<header th:replace="fragments/header"></header>
    <section class="container">
        <h1 th:text="${title}"></h1>
        <table class="table-title">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Category</th>
                    <th scope="col">Year</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="game: ${games}">
                <th scope="row" th:text="${game.id}"></th>
                <td th:text="${game.title}"></td>
                <td th:text="${game.category}"></td>
                <td th:text="${game.year}"></td>
            </tr>
            </tbody>
        </table>
    </section>
    <footer th:replace="fragments/footer"></footer>
</body>
</html>


