<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<header th:replace="fragments/header"></header>
<section class="container">
  <h1 th:text="${title}"></h1>
  <form th:action="@{/games/edit/+${game.id}}" th:object="${game}" method="post">
    <div class="form-group">
      <input type="hidden" th:field="*{id}">
      <label class="col-md2" for="title">Title</label>
      <input th:field="*{title}" type="text" class="col-md6 form-control form-control-sm" id="title"
             placeholder="Enter title">
    </div>
    <div class="form-group">
      <label class="col-md2" for="category">Category</label>
      <input th:field="*{category}" type="text" class="col-md6 form-control form-control-sm" id="category"
             placeholder="Enter category">
    </div>
    <div class="form-group">
      <label class="col-md2" for="year">Year</label>
      <input th:field="*{year}" type="text" class="col-md6 form-control form-control-sm" id="year"
             placeholder="Enter year...">
    </div>
    <div class="card-footer ">
      <input type="submit" class="btn btn-primary btn-sm" value="Save"/>
    </div>
  </form>
</section>
<footer th:replace="fragments/footer"></footer>
</body>
</html>