
body {
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #FA4325;
    height: 80px;
}
.logo {
    margin: 15px;
    margin-left: 60px;
    cursor: pointer;
}
#logoimg {
    height: 58px;
    width: 50px;
    margin-bottom: 5px ;
}
#logotext {
    height: 50px;
    width: 190px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.searchbar {
    display: flex;
    margin: 30px;
    margin-right: 90px;

}
.searchbar input{
    height: 25px;
    width: 250px;
    border-radius: 8px;
    border: none;
}
.searchbar img{
    height: 18px;
    width: 20px;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 4px;
    transition: 2s;
}
.searchbar img:hover{
    transform: scale(1.6);
}

/*MAIN-CONTAINER*/
main {
    background-color: black;
}
/*SLIDER*/
.d-blockw-100,.carousel-item {
    height: 350px;
    width: 70%;
    /*position: center;
    margin:auto;*/
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

/*GRID*/
.grid-post {
margin-top: 100px;
margin-bottom: 100px;
}
.grid-post .card-deck-wrapper {
    border: 0;
    margin-bottom: 100px;
}
.grid-post .card-body {
    padding-left: 0;
    padding-right: 0;
}
.grid-post .card-img-top {
    max-height: 350px;
    border-radius: 0;
}
.container {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    background-color: whitesmoke;
}


